extends layout

block content
    include navbar/navbar_user.jade
    div(class="container")
      .row
        .col-lg-12.col-sm-12
          .dropdown
            .input-group.input-group-lg(id="search-div")
              input#search.form-control.input-lg(type='text', placeholder='Artist Name', name="artist", data-toggle="dropdown")
              span.input-group-btn
                button.btn.btn-default.btn-lg(type='button',id="submit-search") Search
                ul(class="dropdown-menu" id="dropdown-search")

      .row(style="display:none;margin-top:20px;", id="results")
        .col-lg-12.col-sm-12
          div(class="panel panel-default panelStyle")
              div(class="panel-body")
                  h2
                      strong Results
                  div(class="row")
                    div(class="col-lg-12 col-sm-12")
                        table(class="table table-hover table-style table-striped", id="table-results")
                            thead
                                th
                                th id
                                th Artist
                                th Genres
                                th
                                tbody
      script.
        $(document).ready(function(){
          $('#submit-search').click(function(){
              var artist = $('#search').val()
              $('#search').val("")
              getArtists(artist)
          })

          $('#search').on('keyup', function() {
            $('DIV#search-div ul').remove();
            var value = $("#search").val()
            var url = '/search'
            $.post(url, {'artist' : value}, function( data ) {
               var menu_item = '<ul class="dropdown-menu" id="dropdown-search" style="width: 500px;">'
               for (var i=0; i< data.length && i < 5; i++) {
               menu_item = menu_item + '<li class="search-term" onclick="$(\'#search\').val(\'' +  data[i].name + '\'); getArtists($(\'#search\').val());"><a href="#" style="font-size:20px;">' + data[i].name + '</a></li>'
               }
              menu_item = menu_item + '</ul>'

             $("#search-div").append(menu_item)
              $('.dropdown-toggle').dropdown()

            });
        });
        })
