extends layout

block content
    include navbar/navbar_user.jade
    div(class="container")
      .row
        .col-lg-12.col-sm-12
          .input-group.input-group-lg
            input#search.form-control.input-lg(type='text', placeholder='Artist Name', name="artist")
            span.input-group-btn
              button.btn.btn-default.btn-lg(type='button',id="submit-search") Search

      .row(style="display:none;margin-top:20px;", id="results")
        .col-lg-12.col-sm-12
          div(class="panel panel-default panelStyle")
              div(class="panel-body")
                  h2
                      strong Results
                  div(class="row")
                    div(class="col-lg-12 col-sm-12")
                        table(class="table table-hover table-style", id="table-results")
                            thead
                                th
                                th id
                                th Artist
                                th
                                tbody

      div(class="modal fade", id="modalConfirm", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
            div(class="modal-dialog")
                div(class="modal-content")
                    div(class="modal-header")
                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    div(class="modal-body")
                      div(class="alert alert-success")
                        p(style="font-size:50px;")
                          strong SUCESS!
                          i.fa.fa-check(aria-hidden='true')
                      .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') Close
      script.
        $(document).ready(function(){
          $('#submit-search').click(function(){
              var artist = $('#search').val()
              $.post("/search", {artist: artist}, function(result){
                $("#table-results > tbody").html("");
                for(var i = 0; i < result.length; i++)
                  $('#table-results > tbody:last-child').append("<tr><td style='width:110px;'><img src='" +result[i].photo + "' class='img-rounded' height='100' width='100'></td><td>" + result[i].id + "</td><td>" + result[i].name + "</td><td></td></tr>");
                $('#results').show();
            });
          })
        })
