extends layout

block content
	include navbar/navbar_user.jade
	div(class="container")
		div(class="row")
			div(class="col-lg-12 col-sm-12")
				div(class="panel panel-default panelStyle")
					div(class="panel-body")
						h2
							strong Your Favorite Artists
						br
						p Here you can see all the artists that you are following.
						br
						br

						div(class="row")
							div(class="col-lg-12 col-sm-12")
								table(class="table table-hover table-style  table-striped")
									thead
										th
										th Artist
										th
										th(style="width:50px;") Unfollow
										tbody
											each favorite in favorites
												tr
													td(style='width:200px;')
														img(alt="Avatar", src = favorite.photo, width="150", height="150")
													td(style='width:100px;')
														p
															h3 #{favorite.name}
													td
														p #{favorite.summary}
													td(style="text-align: center;")
														a(href="#")
															i.fa.fa-times-circle(aria-hidden='true', id=favorite.mkid + "-" + favorite.name, style="color: red; font-size: 20px;", data-toggle="modal", data-target="#modalConfirm")

															div(class="modal fade", id="modalConfirm", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
																div(class="modal-dialog")
																	div(class="modal-content")
																		div(class="modal-header")
																			button.close(type='button', data-dismiss='modal', aria-label='Close')
																				span(aria-hidden='true') ×
																			h4.modal-title Confirm
																		div(class="modal-body")
																			p(id="modal-warning")
																			br
																			.modal-footer
																				button.btn.btn-success(type='button',id="delete-favorite") Yes
																				button.btn.btn-danger(type='button', data-dismiss='modal') No



	script.
				var id;
				var name;
				$(document).ready(function() {
					$(".fa").click(function(){
						var data = this.id.split("-");
						id = data[0]
						name = data[1]
						var str= "Are you sure you want to remove " + name + " from favorites?"
						$('#modal-warning').text(str);
					});

					$("#delete-favorite").click(function(){
						$.ajax({
							url: '/favorites/delete',
							type: 'DELETE',
							data : {mkid : id, name : name},
							success: function(result) {
								location.replace('/users/favorites')
							}
						});
					})
				});
